

body, html {
  margin: 0;
  background-color: #232323;
}

header{
  background-image: url('img1.jpg');
  color: white;
  height: 20em;
  display:flex;
  position: relative;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .name{
    position: absolute;
    font-size: 40px;
    top: 0.1em;
    background-color: black;
  }
  .professions{
    position: absolute;
    font-size: 20px;
    top: 7em;
    background-color: black;
  }

  .menu{
	display: flex;
  width: 30em;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 1em;
  right: 2em;
  }
}

a {
	text-decoration:none;
	color: White;
    font-size: 20px;
	transition:0.3s
    background-color: black;
}

article{
  background-color: #8a8a8a;
  color: white;
}

